@import "../vendor/normalize.css/normalize.css";
@import "../index.css";
@import "../vendor/suitcss-components-test/test.css";

body {
  margin: 10px;
  font-size: 62.5%;
}

.testdiv {
  background-color: #ddd;
  width: 40px;
  height: 40px;
}
.testdiv--no-padding-margin {
}
.testdiv--padding {
  padding: 20px;
}
.testdiv--margin {
  margin: 20px;
}
.testspans > span {
  display: inline-block;
  margin: 20px;
  padding: 5px;
}

/*
p {
  margin: 8px;
  padding: 0;
}
h2 {
  font-size: 16px;
}
li {
  margin: 0;
  padding: 5px;
}
li + li {
  margin-left: 10px;
}
li + li + li {
  margin-left: 20px;
}
li + li + li + li {
  margin-left: 30px;
}
li + li + li + li + li {
  margin-left: 40px;
}

.wrapper {
  clear: both;
  overflow: hidden;
}
.wrapper .Main {
  float: left;
  width: 30%;
}
.Main {
  padding: 14px;
  background-color: #eee;
  margin: 20px;
}
.paragraph-wrapper-div {
  padding: 5px;
  background-color: #0ee;
  margin: 10px;
}

.ContentWithSidebar {
  clear: both;
  overflow: hidden;
}
  .ContentWithSidebar-wrapper {
    float: left;
    width: 100%;
  }
    .ContentWithSidebar-content {
      margin-right: 260px;
      background-color: #bbb;
      height: 100px;
      padding: 20px;
    }
  .ContentWithSidebar-sidebar {
    float: left;
    margin-left: -300px;
    background-color: #ddd;
    padding: 20px;
    width: 260px;
  }
  */
